@tailwind base;
@tailwind components;
@tailwind utilities;





#container{
    box-shadow: rgba(241, 187, 37, 0.25) 0px 13px 27px -5px, rgba(172, 80, 80, 0.9) 0px 8px 16px -8px;
}


#task {
    background-color: white;
    font-size: large;
    padding: 0.5em 0.8em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
  }
  #task span {
    font-family: "Poppins", sans-serif;
    font-size: large;
    margin-left: 20px;
    font-weight: 400;
    word-break: break-all;
  }
  #task button {
    color: #ffffff;
    padding: 0.8em 0;
    width: 2.8em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #delete {
    background-color: #fb3b3b;
  }
  #edit {
    background-color: #24be39;
    margin-left: auto;
    margin-right: 1em;
  }

  #task input[type="checkbox"] {
    position: relative;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
  }

  #task input[type="checkbox"]:before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
  }

  #task input[type="checkbox"]:checked{
    background-color: #5a95ff;
    border-color: #5a95ff;
  }

  #task input[type="checkbox"]:checked:before{
    position: absolute;
    content: "✔";
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }

  .completed {
    text-decoration: line-through;
    color: #a0a0a0a0;
  }